.saveBtn {
  padding: 10px 20px;
  background: #1b8a3d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.modal {
  color: var(--xmas-green);
  font-size: 18px;
}
.modal:hover {
  /* Use red colour if browser doesn't support webkit. */
  color: var(--xmas-red);
  -webkit-text-fill-color: var(--xmas-gold);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--xmas-red);
}
