.container {
  --edge-spacing: 16px;

  background-color: var(--snow-white);
  width: 100%;
  height: 100%;
  font-family: var(--font-subheading);
  padding: var(--edge-spacing);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 32px;
}

.counter {
  color: var(--xmas-red);
  font-weight: bolder;
  font-size: 24px;
}

.line {
  display: none;
  background-color: var(--xmas-red);
  height: 4px;
  width: 100%;
  border-radius: 1em;
}

.question,
.answer {
  font-weight: bolder;
  font-size: 32px;
  color: var(--coal-black);
}
.answer {
  display: none;
  color: var(--xmas-light-green);
}

.answerShown .line,
.answerShown .answer {
  display: inline;
}
