.container {
  background-color: var(--snow-white);
  color: var(--coal-black);
  width: 100%;
  height: 100%;
  --side-spacing: 16px;

  font-family: var(--font-subheading);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.counter {
  color: var(--xmas-red);
  position: absolute;
  top: var(--side-spacing);
  left: var(--side-spacing);
}

.question {
}

.answer {
}
