.container {
  --side-spacing: 16px;

  background-color: var(--snow-white);
  width: 100%;
  height: 100%;
  font-family: var(--font-subheading);
  padding: var(--side-spacing);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  color: var(--xmas-red);
  position: absolute;
  top: var(--side-spacing);
  left: var(--side-spacing);

  font-weight: bolder;
  font-size: 24px;
}

.question,
.answer {
  font-weight: bolder;
  font-size: 32px;
  color: var(--coal-black);

  margin: auto 0;
}

.line {
  display: none;
  background-color: var(--xmas-red);
  height: 6px;
  width: 100%;
}
.answer {
  display: none;
  color: var(--xmas-light-green);
}

.showAnswer .line {
  display: inline;
}


.showAnswer .answer {
  display: inline;
}
