*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid blue; */
}

body {
  background: url("../assets/images/decor.png") no-repeat center top / contain;
  background-color: var(--xmas-dark-red);
  color: var(--snow-white);
  gap: 2rem;
  position: relative;
  /* padding-inline: 2rem; */
  padding: 8px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.app-container {
  /* height: calc(100% - 14rem); */
  height: 100%;
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--xmas-light-green);
  opacity: 0.9;
  text-align: center;
  border-radius: var(--border-radius-snow);
  box-shadow: var(--shadow-gift);
  height: 70px;
}
h1 {
  font-family: var(--font-heading);
  font-size: 2.5rem;
}
h2,
h3 {
  font-family: var(--font-subheading);
}
button {
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-subheading);
  text-transform: uppercase;
  cursor: pointer;
  min-width: fit-content;
  align-items: center;
  gap: 10px;
  display: flex;
}
:where(main) button {
  color: var(--coal-black);
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--xmas-light-green);
  border-radius: var(--border-radius-snow);
  height: 100%;
  width: min(300px, 25%);
}
main {
  color: black;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-main);
  background-color: var(--snow-white);
  opacity: 0.9;
  box-shadow: var(--shadow-gift);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--xmas-green);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 15%;
  opacity: 0.9;
}

.tile {
  font-size: 24px;
  text-align: center;
  padding: 26px 0;
  user-select: none;
  border-radius: 7px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  color: var(--snow-white);
}

tr{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

 }

th, td{
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
  background-color: var(--xmas-light-green);
}
tr:nth-child(odd) {
  background-color: var(--xmas-green);
}

