body {
  height: 100vh;
  overflow: hidden;
  background: url("../assets/images/decor.png") no-repeat center top / contain;
  background-color: var(--xmas-dark-red);
  color: var(--snow-white);
  gap: 2rem;
  position: relative;
}
.app-container {
  height: calc(100% - 14rem);
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  gap: 1rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--xmas-light-green);
  text-align: center;
  border-radius: var(--border-radius-snow);
  box-shadow: var(--shadow-gift);
  height: 70px;
  margin: 1.5rem;
}
h1 {
  font-family: var(--font-heading);
}
h2,
h3 {
  font-family: var(--font-subheading);
}
button {
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-subheading);
  text-transform: uppercase;
  cursor: pointer;
}
:where(main) button {
  color: black;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--xmas-light-green);
  border-radius: var(--border-radius-snow);
  height: 100%;
  width: min(300px, 25%);
}
main {
  color: black;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-snow);
  background-color: var(--xmas-snow-white);
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--xmas-light-green);
  border-radius: var(--border-radius-snow);
}
