body {
  background: url("../assets/images/decor.png") no-repeat center top / contain;
  background-color: var(--xmas-dark-red);
  color: var(--snow-white);
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--xmas-light-green);
  text-align: center;
  border-radius: var(--border-radius-snow);
  box-shadow: var(--shadow-gift);
  height: 70px;
  margin: 1.5rem;
}
h1 {
  font-family: var(--font-heading);
}
h2,
h3 {
  font-family: var(--font-subheading);
}
button {
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-subheading);
  text-transform: uppercase;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--xmas-light-green);
  border-radius: var(--border-radius-snow);
  height: 100%;
  width: min(300px, 25%);
  margin-left: 1.5rem;
}
main {
  flex-grow: 1;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--snow-white);
  border-radius: var(--border-radius-snow);
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--xmas-light-green);
  border-radius: var(--border-radius-snow);
}
