.container {
    bottom: 0;
    width: 100%;
    place-content: center;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.teams {
    display: flex;
    gap: 30px;
}
.teamcard {
    width: 200px;
    height: 110px;
    background-color: var(--xmas-light-green);
    place-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 7px 7px 0 0;
    position: relative;
    opacity: var(--opacity-tiles);
   border-top: 4px solid var(--xmas-red);
   box-shadow: var(--shadow-hover);
   justify-self: space-between;
   justify-content: space-between;
   margin: auto;
}
.score{
    display: flex;
    place-content: center;
    background-color: var(--xmas-red);
    width: 75%;
    height: 25px;
    margin-inline: auto;
}
.names{
    text-align: center;
    gap: 20px;
    margin-inline: auto;
    height: 40%;
    width: 100%;
    place-content: center;
    background-color: var(--xmas-red);
}
.avatar{

    width: 45px;
    height: 45px;
    background-color: var(--snow-white);
    margin-inline: auto;
    border-radius: 50%;
    border: 4px solid var(--xmas-red);
    place-self: center;
    margin: auto;
}

.startbutton {
    color: var(--snow-white);
    border: none;
    border-radius: var(--border-radius-snow);
    font-size: 1.5rem;
    font-family: var(--font-subheading);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.backgroundvideo {
    position: fixed;
    right: 0;
    bottom: 15%;
    min-width: 100%;
    min-height: 100%;

}

.setting-icon{
    position:absolute;
    right:7px;
    top:6px;
}
