.container {
    
    bottom: 0;
    width: 100%;
    place-content: center;
    display: flex;
    gap: 30px;

}
.teamcard {
    width: 250px;
    height: 150px;
    background-color: var(--xmas-light-green);
    place-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 7px 7px 0 0;
    position: relative;
    opacity: var(--opacity-tiles);
   border-top: 4px solid var(--xmas-red);
   box-shadow: var(--shadow-hover);
}
.score{
    display: flex;
    place-content: center;
    background-color: var(--xmas-red);
    width: 75%;
    height: 25px;
    margin-inline: auto;
}
.names{
    text-align: center;
    width: 50%;
    gap: 20px;
    margin-inline: auto;

}
.avatar{
    width: 75px;
    height: 75px;
    background-color: var(--snow-white);
    margin-inline: auto;
    border-radius: 50%;
    margin-top: -60px;
    border: 4px solid var(--xmas-red);
}
.icon{
    position:absolute;
    right: 10px;
    top: 0;

}
.Cryingicon{
    position:absolute;
    right:15px;
    top:13px;
}
