.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: var(--spacing);
}

.title {
  background-color: var(--xmas-light-green);
  color: var(--snow-white);
  width: 100%;
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: bold;
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: var(--spacing);
  font-family : var(--font-subheading);
  font-weight: bold;
  li {
    width: 100%;
    height: 100%;
  }
}
