.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: var(--spacing);
}

.title {
  background-color: var(--xmas-light-green);
  color: var(--snow-white);
  width: 100%;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: var(--spacing);
}
