.container {
  background-color: red; /* Temporary style for testing */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 16px;
}
