.container {
  background-color: var(--snow-white);
  color: var(--xmas-red);

  width: 100%;
}

.used {
  opacity: 0.5;
}

.tilebg {
  background-color: var(--xmas-red);
  color: var(--snow-white);
}

.tilebg:hover{
  transform: scale(1.02);
  transition: transform 0.2s;
  box-shadow: var(--shadow-hover);
  cursor: pointer;
}

