.container {
  background-color: var(--snow-white);
  color: var(--xmas-red);

  width: 100%;
}

.used {
  opacity: 0.5;
}

.tile {
  background-color: var(--xmas-red);
  color: var(--snow-white);
  font-size: 24px;
  text-align: center;
  padding: 16px 0;
}
