.container {
  background-color: var(--snow-white);
  color: var(--xmas-red);

  width: 100%;
}

.used {
  opacity: 0.5;
}

.tilebg {
  background-color: var(--xmas-red);
  color: var(--snow-white);
}
