.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  place-content: center;
  display: flex;
  gap: 30px;
}
.teamcard {
  width: 250px;
  height: 150px;
  background-color: var(--xmas-light-green);
  place-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 7px 7px 0 0;
  position: relative;
  opacity: var(--opacity-tiles);
  border-top: 4px solid var(--xmas-red);
  box-shadow: var(--shadow-hover);
  padding-top: calc(var(--img-size) / 2);

  --img-size: 75px;
}
.score {
  display: flex;
  place-content: center;
  background-color: var(--xmas-red);
  width: 75%;
  height: 25px;
  margin-inline: auto;
}
.names {
  text-align: center;
  width: 50%;
  gap: 20px;
  margin-inline: auto;
  /* margin-top: calc(var(--img-size) / 2); */
}
.avatar {
  width: var(--img-size);
  height: var(--img-size);

  background-color: var(--snow-white);
  border-radius: 50%;
  border: 4px solid var(--xmas-red);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  position: absolute;
  right: 10px;
  top: 0;
}
.Cryingicon {
  position: absolute;
  right: 15px;
  top: 13px;
}

.buttons {
  display: none;
  justify-content: space-evenly;
}
.modal .buttons {
  display: flex;
}

.button {
  display: flex;
}
.button svg {
  width: 32px;
  height: 32px;
}
